<h2 class="ml-3 pt-4">Painel do Aluno</h2>
<div class="container-student">
  
  <div class="container-item">
    <h3>Meus Cursos</h3>
    <button type="button" routerLink="/courses" routerLinkActive="active"
    class="btn btn-primary btn-lg mb-2">
    Gerenciar Meus Cursos
    </button>
    <table class="table">
      <thead>
        <tr>
          <th>Assunto</th>
          <th class="quantity">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr><td><strong>TOTAL</strong></td><td class="quantity"><strong>{{totalCourses}}</strong></td></tr>
      </tbody>
    </table>
  </div>
  
</div>

<button type="button" routerLink="/courses/available" routerLinkActive="active"
  class="btn btn-secondary btn-lg m-5">
  Ver Cursos disponíveis
</button>