.container-admin {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
                    url('../../../assets/img/hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 30%;
  height: 100vh;
}

/* .container-item {

} */

.container-buttons {
  max-width: 70%;
}