<h2>{{title}}</h2>
<div class="my-2">
  <input type="text" placeholder="Procurar">
  <!-- <button  class="btn btn-primary m-1" routerLink="search/">Procurar</button> -->
</div>

<div *ngIf="!this.authService.isLoggedIn; else elseBlock">
  
  <div *ngIf="courses$">
    <table class="table" >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of (courses$ | async)">
          <td>{{course.name}}</td>
          <td>{{course.description}}</td>
          <!-- TODO: create logic on TS to unauth users - Register or Login -->
          <td>
            <button  class="btn btn-success" routerLink="subscribe/">Inscrever-se</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #elseBlock>
  <container [ngSwitch]="userRole">
    <div *ngSwitchCase="'admin'">
      <div>
        <button  class="btn btn-success my-1 mr-1" routerLink="form/">Novo</button>
        <button  class="btn btn-secondary" routerLink="random/">(+ aleatorio)</button>
      </div>
      <div *ngIf="courses$">
        <table class="table" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Curso</th>
              <th>Descrição</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of (courses$ | async)">
              <td>{{course._id}}</td>
              <td>{{course.name}}</td>
              <td>{{course.description}}</td>
              <td>
                <button  class="btn btn-primary mx-1" routerLink="edit/{{course._id}}">Editar</button>
                <button  class="btn btn-danger" routerLink="remove/{{course._id}}">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngSwitchCase="'teacher'">
      <div *ngIf="isOwnCourses">
        <button  class="btn btn-success my-1 mr-1" routerLink="form/">Novo</button>
        <button  class="btn btn-primary" routerLink="random/">(+ aleatorio)</button>
      </div>
      <div *ngIf="courses$">
        <table class="table">
          <thead>
            <tr>
              <th>Curso</th>
              <th>Descrição</th>
              <th *ngIf="isOwnCourses">Alunos</th>
              <th *ngIf="isOwnCourses">Ações</th>
            </tr>
          </thead>
          <tr *ngFor="let course of (courses$ | async)">
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td *ngIf="isOwnCourses">
              <ol>
                <li *ngFor="let student of course.students">
                  {{student.name}}
                </li>
              </ol>
            <td *ngIf="isOwnCourses">
              <button  class="btn btn-primary" *ngIf="isOwnCourses"
                      routerLink="edit/{{course._id}}">Editar info
              </button>
              <button  class="btn btn-danger mx-1" (click)="deleteCourse(course._id)">Excluir</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngSwitchCase="'student'">
      <div *ngIf="courses$">
        <table class="table" >
          <thead>
            <tr>
              <th>Curso</th>
              <th>Descrição</th>
              <th>Instrutor(a)</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of (courses$ | async)">
              <td>{{course.name}}</td>
              <td>{{course.description}}</td>
              <td>{{course.teacher.name}}</td>
              <td>
                <button  class="btn btn-danger" *ngIf="isOwnCourses"
                        (click)="unsubscribe(course._id)">Cancelar inscrição
                </button>
                <button  class="btn btn-success" *ngIf="!isOwnCourses"
                        (click)="subscribe(course._id)">Inscrever-se
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngSwitchDefault>
      <p>Error</p>
    </div>

  </container>
</ng-template>