<div *ngIf="userRole=='admin'">
  <h2 >Cursos</h2>
  <div>
    <button routerLink="form/">Novo</button>
    <button routerLink="random/">(+ aleatorio)</button>
  </div>
  <div *ngIf="courses">
    <table>
      <tr>
        <td>ID</td>
        <td>Curso</td>
        <td>Descrição</td>
        <td>Ações</td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{course._id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>
          <button routerLink="edit/{{course._id}}">Editar</button>
          <button routerLink="remove/{{course._id}}">Deletar</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="userRole=='student'">
  <h2>Meus Cursos</h2>
  <div *ngIf="courses">
    <table>
      <tr>
        <td>Curso</td>
        <td>Descrição</td>
        <td>Instrutor(a)</td>
        <td>Ações</td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.teacher.name}}</td>
        <td>
          <button (click)="unsubscribe(course._id)">Cancelar inscrição</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="userRole=='teacher'">
  <h2>Meus Cursos</h2>
  <div>
    <button routerLink="form/">Novo</button>
    <button routerLink="random/">(+ aleatorio)</button>
  </div>
  <div *ngIf="courses">
    <table>
      <tr>
        <td>Curso</td>
        <td>Descrição</td>
        <td>Alunos</td>
        <td>Ações</td>
      </tr>
      <tr *ngFor="let course of courses">
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>
          <ul *ngFor="let student of course.students">
            {{student.name}}
          </ul>
        <td>
          <button routerLink="edit/{{course._id}}">Editar info</button>
        </td>
      </tr>
    </table>
  </div>
</div>