<h2>Cursos</h2>

<div>
  <button routerLink="form/">Novo</button>
  <button routerLink="random/">(+ aleatorio)</button>
</div>
<div *ngIf="courses">
  <table>
    <tr>
      <td>ID</td>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Ações</td>
    </tr>
    <tr *ngFor="let course of courses">
      <td>{{course._id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.description}}</td>
      <td>
        <button routerLink="edit/{{course._id}}">Editar</button>
        <button routerLink="remove/{{course._id}}">Deletar</button>
      </td>
    </tr>
  </table>
</div>
