<h2>Cursos</h2>

<div>
  <button routerLink="search/">Procurar</button>
</div>
<div *ngIf="courses">
  <table>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Ações</td>
    </tr>
    <tr *ngFor="let course of courses">
      <td>{{course.name}}</td>
      <td>{{course.description}}</td>
      <!-- TODO: create logic on TS to unauth users - Register or Login -->
      <td *ngIf="userRole=='student'" >
        <button routerLink="subscribe/">Inscrever-se</button>
      </td>
    </tr>
  </table>
</div>
