<nav>
  <div>
    <ul ngbNav #nav="ngbNav" class="nav-pills">
      <!-- ALLWAYS -->
      <li ngbNavItem><a ngbNavLink routerLink="/">Home</a></li>
      <!-- NO AUTH -->
      <li ngbNavItem *ngIf="!this.authService.isLoggedIn">
        <a ngbNavLink routerLink="/courses-noauth" routerLinkActive="active">Cursos</a>
      </li>
      <!-- ADMIN -->
      <div *ngIf="this.authService.userRole == 'admin'">
          <li ngbNavItem><a ngbNavLink routerLink="/users" routerLinkActive="active">Gerenciar Usuários</a></li>
          <li ngbNavItem><a ngbNavLink routerLink="/courses" routerLinkActive="active">Gerenciar Cursos</a></li>
      </div>
      <!-- STUDENT / TEACHER -->
      <div *ngIf="this.authService.isLoggedIn && this.authService.userRole != 'admin'">
          <li ngbNavItem><a ngbNavLink routerLink="/courses" routerLinkActive="active">Meus cursos</a></li>
          <li ngbNavItem><a ngbNavLink routerLink="/courses/available" routerLinkActive="active">Cursos disponíveis</a></li>             
      </div>
      <!-- LOGIN/LOGOUT -->
      <div>
        <li ngbNavItem *ngIf="!this.authService.isLoggedIn">
          <a ngbNavLink routerLink="/login" routerLinkActive="active">Entrar</a>
        </li>
        <li ngbNavItem *ngIf="this.authService.isLoggedIn">
          <a ngbNavLink routerLink="/logout" routerLinkActive="active">Sair</a>
          <br><span> (Sessão termina em: {{authService.getRemainingSessionTime() | sessionCounter }})</span>
      </li>
      </div>
    </ul>
  </div>
</nav>
<div class="item-hero-text-box">
  <h1>mobCursos</h1>
  <p>Cursos online de TI</p>
  <!-- <a class="btn btn-full" href="login.html">Entrar</a>
  <a class="btn btn-empty" href="#">Criar conta</a> -->
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>