<div class="container-hero-header">
  <nav class="item-nav">
      <div class="flex-responsive-nav">
          <a class="mobile-nav-icon js--mobile-nav-icon">
              <!-- <ion-icon name="menu-sharp"></ion-icon> -->
          </a>
          <ul class="main-nav js--main-nav">
              <!-- <li><a href="#home">Home</a></li>
              <li><a href="login.html">Entrar</a></li>
              <li><a href="#cursos">Cursos</a></li>
              <li><a href="#planos-individuais">Planos</a></li>
              <li><a href="#depoimentos">Depoimentos</a></li> -->
          </ul>
      </div>
      <!-- <img src="resources/img/logo-blue0.png" alt="logo mobCursos" class="logo"> -->
  </nav>
  <div class="item-hero-text-box">
      <h1>mobCursos</h1>
      <p>Cursos online de TI</p>
      <!-- <a class="btn btn-full" href="login.html">Entrar</a>
      <a class="btn btn-empty" href="#">Criar conta</a> -->
  </div>
</div>

<app-users></app-users>