<div class="container-hero-header">
  <nav class="item-nav">
      <div class="flex-responsive-nav">
          <a class="mobile-nav-icon js--mobile-nav-icon">
              <!-- <ion-icon name="menu-sharp"></ion-icon> -->
          </a>
          <ul class="main-nav js--main-nav">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/login">Entrar</a></li>
              <li><a routerLink="/logout">Sair</a></li>
              <!-- TODO ADMIN AUTH -->
              <li><a routerLink="/users" routerLinkActive="active">Usuários</a></li>
              <li><a routerLink="/courses">Cursos</a></li>
          </ul>
      </div>
      <!-- <img src="resources/img/logo-blue0.png" alt="logo mobCursos" class="logo"> -->
  </nav>
  <div class="item-hero-text-box">
      <h1>mobCursos</h1>
      <p>Cursos online de TI</p>
      <!-- <a class="btn btn-full" href="login.html">Entrar</a>
      <a class="btn btn-empty" href="#">Criar conta</a> -->
  </div>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>