<h3>Cadastro</h3>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="_id">
    ID:
    <input type="text" formControlName="_id">
  </label>
  <br>
  <label>
    Categoria
    <select formControlName="role">
      <option *ngFor="let role of roles" [ngValue]="role">
        {{role | titlecase}}
      </option>
    </select>
  </label>
  <br>
  <label for="name">
    Nome:
    <input type="text" formControlName="name" required minlength="3" maxlength="100">
  </label>
  <br>
  <label for="username">
    Username:
    <input type="text" formControlName="username" required minlength="3" maxlength="15">
  </label>
  <br>
  <label for="password">
    Password:
    <input type="password" formControlName="password" required minlength="3" maxlength="150">
  </label>
  <br>
  <label for="email">
    E-mail:
    <input type="email" formControlName="email">
  </label>
    
  <br>
  <input type="submit" [disabled]="!userForm.valid" value="Salvar">
  
</form>

<button (click)="onReset()">{{resetButtonText}}</button>
<button (click)="goBack()">{{backButtonText}}</button>
